*{
    padding: 0;
    margin: 0;
    text-align: center;
}

.head1{
    color:#EEF0EB;
    margin: 2vmin;
}
body{
background-color: #284B63;    
}

.container{
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    height: 70vh;
    
}

.game{
    margin: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 60vmin;
    width: 60vmin;
    gap:1.5vmin;
}

.box{
    height:18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    justify-content: center;
    align-items: center;
    color: rgb(27, 7, 199);
    background-color: antiquewhite;
}

.reset{
    padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}
.msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vmin;
    width: 98vw;
}

.hide{
    display:none;
}
.results{
    font-size: 5vmin;
    color: #fff;
    padding: 1rem;

}

.newg{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    background-color: brown;
    color: burlywood;
}